html {
  min-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-image: url("../images/background.jpg");
  background-position: top-center; */
  min-width: 500px;
}

footer {
  position: relative;
  padding: 10px;
  text-align: center;
  font-size: 10px;
  width: 100%;
}
